    * {
        font-family: Raleway;
    }

    body{
        overflow-x: hidden;
        font-family: Raleway !important;
    }
    
    /* BANNER SECTION STARTS */

    .banner-navbar {
        display: flex !important; justify-content: space-between !important; z-index: 2; width: 100vw;
    }

    #navbar{
        z-index: 1;
        padding: 50px 50px;
        position: relative;
        overflow: hidden;
    }

    @media screen and (max-width: 991px) {
        .navbar-nav {
            background: black;
            opacity: 0.8;
            padding: 20px !important;
        }
    }

    #navbarNav {
        justify-content: flex-end !important;
    }

    .navbar-nav li a {
        color: #FFFFFF !important;
    }
    
    /* ul{
        padding: 0%;
        margin: 0%;
        list-style: none;
    }

    ul li{
        float: left;
        width: 100px;
        height: 40px;
        opacity: 0.9;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        display: flex;
        align-items: center;
    }

    ul li a{
        text-decoration: none;
        display: block;
    }

    ul li ul{
        background-color: black;
        text-align: center;
        align-items: center;
        border-radius: 4px;
    }

    ul li ul li{
        display: none;
        background-color: #001828;
        line-height:40px;
        font-size: 10px;
        height: 40px;
        width: 200px;
    }

    

    ul li:hover ul li{
        display: block;
    } */

    #items{
        z-index: 1;
        display: flex;
        justify-content: space-between;
    }

    #items a{
        color: #FFFFFF;
        font-size: 18px;
        text-decoration: none;
    }

    #items a:hover{
        color: #FFD700;
    }

    ul li{
        float: left;
        width: 100px;
        height: 40px;
        opacity: 0.9;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        display: flex;
        align-items: center;
    }

    .ditem .dropdown-menu{
        background-color: #001828;
        font-size: 10px;
    }

    .ditem .dropdown-menu a{
        font-size: 10px;
    }

    #lead{
        font-size: 30px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70vh;
        left: 50px;
    }

    @media screen and (max-width: 991px) {
        #lead {
            font-size: 20px;
            left: 20px;
            width: 80vw;
        }
    }

    #lead p{
        top:75vh ;
        color: #FFFFFF ;
        z-index: 1 ;
    }

    #lead a{
        top: 85vh ;
    }

    #lead >a img{
        width: 200px;
    }
   
    #banner_heading{
        position: absolute;
        font-weight: bold;
        /* color: white; */
        font-size: 36px;
    }

    .banner1, .banner2, .banner3{
        display:block;
        position: absolute;
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }

    .banner1{
        animation: fade1 20s infinite;
    }

    .banner2{
        animation: fade2 20s infinite;
    }

    .banner3{
        animation: fade3 20s infinite;
    }

    @keyframes fade1{
        0%{opacity: 100%;}
        33.33%{opacity: 0%;}
        66.66%{opacity: 0%;}
        100%{opacity: 100%;}
    }

    @keyframes fade2{
        0%{opacity: 0%;}
        33.33%{opacity: 100%;}
        66.66%{opacity: 0%;}
        100%{opacity: 0%;}
    }

    @keyframes fade3{
        0%{opacity: 0%;}
        33.33%{opacity: 0%;}
        66.66%{opacity: 100%;}
        100%{opacity: 0%;}
    }

    /* BANNER SECTION ENDS */


    /* ABOUT US SECTION STARTS */

    .img-fluid {
        width: 100% !important;
        height: 100vh !important;
        object-fit: cover;
    }

    #about_us_text{
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }

    @media screen and (max-width: 991px) {
        #about_us_text {
            padding: 3rem;
        }
    }

    .about_us_heading{
        font-family: Raleway;
        font-weight: bold;
        font-size: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .about_us_p{
        font-family: Roboto;
        font-size: 20px;
        font-weight: lighter;
        font-style: normal;
        line-height: 42px;
        text-align: justify;
    }

    .about-us-img {
        padding: 40px 60px !important;
    }

    @media screen and (max-width: 991px) {
        .about-us-img {
            padding: 80px 20px !important;
        }
    }

    #about-1{
        display: block;
    }

    #about-2{
        display: none;
    }

    /* ABOUT US SECTION ENDS */


    /* PRESENCE SECTION STARTS */
    #presence_heading{
        font-size: 30px;
        padding: 45px 0 0 0;
    }
     
    .presence_line{
        background-color:#FFD700;
        width: 80px;
    }

    .card_title{
        text-align: center;
        padding: 25px 0 0 0;
        font-size: 50px;
        color: #E1A816;
    }

    .card_lead{
        text-align: center;
        font-size: 20px;
        font-weight: lighter;
    }

    /* PRESENCE SECTION ENDS */


    /* PROJECT SECTION STARTS */
    #project_heading{
        font-size: 30px;
        padding: 45px 0 0 0;
    }

    .project_line{
        background-color:#FFD700;
        width: 80px;
    }

    .zoom{
        overflow: hidden;
   }

    .zoom img{
        transition: transform .2s ease-in;
        width: 100%;
    }

    .zoom img:hover{
        transform: scale(1.5);
    }

    .arrow{
        padding-left: 4px;
    }

    .projects__row {
        padding: 40px;
    }
    
    /* PROJECT SECTION ENDS */
    

    /* FOOTER SECTION STARTS */

    .heading1{
        font-size: 25px;
        font-family: 'Raleway';
        font-weight: 600;
        font-style: normal;
        /* padding: 50px 0; */
    }

    .brand_info{
        padding: 10px 0px;
    }

    .brand_info p{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }
    
    .brand_info i{
        padding-right: 5px;
    }

    .heading2{
        font-size: 20px;
        font-family: Roboto;
        font-weight: 600;
        /* padding: 50px 0; */
    }

    
    #socials{
        height: 145px;
        display: flex;
        flex-direction: column;
        color: #E1A816;
        font-size: 20px;
    }

    #socials i{
        padding-bottom: 15px;
    }

    .footer__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 300px;
    }

    @media screen and (max-width: 991px) {
        .footer__container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0px;
            padding: 40px;
        }
    }


    /* FOOTER SECTION ENDS */

    /* PROJECTS PAGE */

    #r_navbar{
        z-index: 1;
        padding: 50px 50px;
        display: flex;
        justify-content: space-between;
     }
    
    .container{
        width: 100vw;
        background-size: cover;
        padding: 0%;
        margin: 0;
    }
    
    .project_name{
        font-family: Raleway;
        font-size: 32px;
        font-weight: bold;
        margin: 0 0 0 0;
    }

    .r_line{
        background-color: #FFD700;
        width: 345px;
        margin-top: 0%;
    }
    

